<ion-header>
  <ion-toolbar>
  
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/pr-list"></ion-back-button>
    </ion-buttons>
  <ion-title>{{currentPr?.descrizione}}</ion-title>
  </ion-toolbar>
  </ion-header>




  <ion-content padding>
      <ion-card>
      <ion-card-content (click)="gotoLastPercentages()" >
        <p>Ultimo</p>
      <p>pr: 
      <strong>{{showLastResult()}}</strong>
      </p>
      <p>Data:
      <strong>{{currentPr?.getLastPr()?.stringifiedDate}}</strong>
      </p>
      </ion-card-content >
      </ion-card>
      <ion-card>
      <ion-card-content (click)="gotoBestPercentages()" >
        <p>Migliore</p>
      <p>pr :
      <strong>{{showBestResult()}}</strong>
      </p>
      <p>Data:
      <strong>{{currentPr?.getBestPr()?.stringifiedDate}}</strong>
      </p>
      </ion-card-content>
      </ion-card>
      <ion-button expand="block" (click)="addResult()" ion-fab color="primary">Aggiungi pr<ion-icon name="add"></ion-icon></ion-button>
       
      <ion-button expand="block" (click)="updateResult()" ion-fab color="primary">Modifica pr<ion-icon name="create"></ion-icon></ion-button>
      
       
    </ion-content>
