<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>pr-list</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item tappable *ngFor="let pr of prList" 
    routerLink="/pr-detail/{{pr.id}}">
    <ion-card-content >
      <h2>{{pr?.descrizione}}</h2>
      <p class="text-left"> <strong>{{pr?.getLastPr()?.stringifiedDate}}</strong></p>
      <p class="text-right"> <strong>{{pr.formatResult(pr.getLastPr()) }}</strong></p>
    </ion-card-content>
    </ion-item>
  </ion-list>
</ion-content>