<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button defaultHref="/home"></ion-back-button>
        </ion-buttons>
    <ion-title>Nuovo Pr</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-item>
    <ion-label stacked>Pr</ion-label>
    <ion-input [(ngModel)]="Pr.descrizione" type="text"
    placeholder="Cosa hai fatto?">
    </ion-input>
    </ion-item>
    <!--ion-item>
    <ion-label stacked>Risultato</ion-label>
    <ion-input [(ngModel)]="prResult" type="number"
    placeholder="Quanto hai fatto?">
    </ion-input>
    </ion-item-->
    <ion-item>
    <ion-label stacked>
        Peso/Tempo
    </ion-label>
    <div  [ngSwitch]="prType">
        <div *ngSwitchCase="true"><img src="assets/icon/kg.png" (click)="addResult()" ng-switch-when="true"> </div>
        <div *ngSwitchDefault> <ion-icon name = "time" ng-switch-default (click)="addResult()" ></ion-icon></div>
    </div>
        
        
    <ion-toggle [(ngModel)]="prType" (ngModelChange)="change($event)" type="boolean" (change)="getUnity()" (click)="getUnity()"
    placeholder="getUnity()">
    </ion-toggle>
    </ion-item>

    <ion-item>
        <ion-label stacked>
            Girl
        </ion-label>
        <div  [ngSwitch]="Pr.girl">
            <div *ngSwitchCase="true"><img src="assets/icon/girl.png" (click)="addResult()" ng-switch-when="true"> </div>
        </div>
            
            
        <ion-toggle [(ngModel)]="Pr.girl" (ngModelChange)="changeGirl($event)" type="boolean" (change)="getUnity()" (click)="getUnity()"
        placeholder="getUnity()">
        </ion-toggle>
        </ion-item>
        <ion-item>
            <ion-label stacked>
                Hero
            </ion-label>
            <div  [ngSwitch]="Pr.hero">
                <div *ngSwitchCase="true"><img src="assets/icon/hero.ico" (click)="addResult()" ng-switch-when="true"> </div>
            </div>               
                
            <ion-toggle [(ngModel)]="Pr.hero" (ngModelChange)="changeHero($event)" type="boolean" (change)="getUnity()" (click)="getUnity()"
            placeholder="getUnity()">

 
            </ion-toggle>
            </ion-item>
<ion-item>
  <ion-list>
    <ion-item *ngFor="let result  of Pr.prList" (click)="goToEventDetail(event.id)">
     
      <p>Pr: <strong> {{showResult(result)}} {{Pr.unity}} </strong></p>
      <p> Data: <strong> {{result?.date}}</strong></p>
    </ion-item>
  </ion-list>
</ion-item>
<ion-button expand="block"
(click)="addResult()">
aggiungi  Pr <ion-icon name="ribbon"></ion-icon>
</ion-button>
<ion-button expand="block"
(click)="createPr(Pr)">
memorizza  Pr <ion-icon name="cloud-upload"></ion-icon>
</ion-button>

    <div>Icons made by <a href="http://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
