<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button defaultHref="/home"></ion-back-button>
        </ion-buttons>
    <ion-title>Nuovo Pr</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-item>
    <ion-label stacked>Pr</ion-label>
    <ion-input [(ngModel)]="prName" type="text"
    placeholder="Cosa hai fatto?">
    </ion-input>
    </ion-item>
    <!--ion-item>
    <ion-label stacked>Risultato</ion-label>
    <ion-input [(ngModel)]="prResult" type="number"
    placeholder="Quanto hai fatto?">
    </ion-input>
    </ion-item-->
    <ion-item>
    <ion-label stacked>
        Peso/Tempo
    </ion-label>
    <div  [ngSwitch]="prType">
        <div *ngSwitchCase="true"><img src="assets/icon/kg.png" (click)="addResult()" ng-switch-when="true"> </div>
        <div *ngSwitchDefault> <ion-icon name = "time" ng-switch-default (click)="addResult()" ></ion-icon></div>
    </div>
        
        
    <ion-toggle [(ngModel)]="prType" (ngModelChange)="change($event)" type="boolean" (change)="getUnity()" (click)="getUnity()"
    placeholder="getUnity()">
    </ion-toggle>
    </ion-item>
    <ion-button expand="block"
    (click)="addResult()">
    Inserisci Pr
    </ion-button>
