<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button href="/profile">
        <ion-icon slot="icon-only" name="person"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>


  <ion-content padding>
    <ion-button expand="block" color="primary" href="/pr-create">
    inserisci un nuovo pr <ion-icon name="trophy"></ion-icon>
    </ion-button>
    <ion-button expand="block" color="calm" href="/pr-list">
   vedi i tuoi Pr <ion-icon name="medal"></ion-icon>
    </ion-button>
</ion-content>